.h1_solo{
  color: white;
}

.header-main{
  padding: 10px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-button {
  border-bottom: 2px solid #006466;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.menu-button:hover {
  transform: scale(1.1);
}

.menu-home {
  border-bottom: 2px solid #006466;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.menu-home:hover {
  transform: scale(1.1);
}
.close-button-left{
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.close-button-left:hover{
  color: red;
}
.menu-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background-color: #272640;
  transition: left 0.3s ease-in-out;
  z-index: 999;
  overflow: hidden;
  border: 1px solid #0e0707d1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu.open {
  left: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #272640e2 ;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin: 8px 0;
  position: relative;
  color: white;
}

.menu-list li::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 100%;
  height: 3px;
  background-color: rgb(163, 11, 11);  
  transition: right 0.6s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.menu-list li:hover::before {
  right: 0;
  transform: scaleX(1);
  transition: right 0.3s ease-in-out;
}

.close-button {
  position: absolute; 
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}


